* {
  margin:0;
  padding:0;
  font-family: font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  text-align: center;
  height:100vh;
  overflow:auto;
}

i {
  color:black;
}

#arrows {
  height:100px;
  left:30px;
  top:50%;
  position:fixed;
  width:32px;
}

#up {
  height:40px;
  width:32px;
}

#up:hover {
  opacity:.7;
}

#down {
  height:40px;
  width:32px;
}

#down:hover {
  opacity:.7;
}

#main {
  width:100%;
  text-align: center;
  margin-top:50px;
  overflow:hidden;
  background-color: #6586A7;
  height:100%;
  padding-top:100px;
  font-family: font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 100;
  color:white;
}

#main h1 {
  top: 30%;
  transform: translate(-50%, -50%) 
  font-size:15pt;
  display:inline-block;
  letter-spacing: 2px;
  font-style: normal;
  font-weight: 100;
}

#main h3 {
  top:40%;
  font-style: normal;
  font-weight: 100;
}


#projects {
  /*background: url(oscl8r.png);*/
  padding:auto;
  top:100vh;
  width:100%;
  height:94vh;
  padding:50px;
  background-size:cover;
  overflow-x:hidden;
}

.parallax {
  font-size: 200%;
  width:20%;
}

 /* add some padding to force scrollbars */
.parallax__layer {
  padding: 100vh 0;
}

.circular {
  margin-top: 5px;
  margin-bottom:5px;
  margin-left:auto;
  margin-right:auto;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  background: url(img/zachverbeck.jpg);
  background-size: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.links {
  list-style-type: none;
  text-align:center;
  width: 15%;
  margin:auto;
}

.links li {
  padding:5px;
  display:inline-block;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.links li:hover {
  opacity:.5;
}

.info{
  text-align: left;
  float:right;
  width: 400px;
  background-color:white;
  opacity:.95;
  margin-right:110px;
  margin-top: 50px;
  overflow:auto;
  font-family: font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-style: normal;
  font-weight: 100;
  padding: 10px 20px 0px 20px;
}

.info div {
  text-align:center;
  width:30%;
  margin:auto;
}

.info a {
  float:left;
  margin-right:20px;
  font-weight:400;
}

.info p {
  color:black;
  clear:left;
}

.project-item {
  padding-left:20px;
}

.row {
  margin:auto;
}

.thumbnail {
  position: relative;
  margin:auto;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.project-item:hover {
  opacity: .8;
}

.project-item p {
  padding-top:20px;
  font-size: 12pt;
  margin:auto;
  color:white;
  text-align: center;
  font-weight:100;
}

.title {
  color:black;
  font-style:italic;
  font-weight:400;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
    font-weight:200;
}

#projects h2 {
  padding-bottom: 50px;
}
/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}